/* ========== Navbar ========== */
nav a,
header div h1 {
  letter-spacing: 4px;
}

nav a:hover {
  background-color: #e2e2e2;
}

/* ========== Header Home ========== */
header.container-fluid {
  max-width: 1600px;
  min-width: 500px;
}

header img {
  width: 1600px;
  height: 800px;
  padding-top: 65px;
}

/* ========== Page Content ========== */
div#content {
  max-width: 1100px;
}

/* ========== Section About ========== */
section#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

section#about div div.col-6 {
  padding: 12px 34px;
}

section#about div div h1, section#about div div h5 {
  letter-spacing: 4px;
}

/* ========== Section Menu ========== */
section#menu {
  padding-top: 100px;
  padding-bottom: 100px;
}

section#menu div div.col-6 {
  padding: 12px 34px;
}

section#menu div div h1, section#menu div div h4 {
  letter-spacing: 4px;
}

/* ========== Section Contact ========== */

section#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

section#contact h1, section#contact b {
  letter-spacing: 4px;
}

form button:hover {
  background-color: #dcdcdb;
}

/* ========== Footer ========== */
footer {
  background-color: #efefee;
  padding: 20px;
}

footer p a:hover {
  display: inline-block;
  background-color: #aeaef0;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

